@using MyTwitter.SessionModel
@using MyTwitter.Models
@model IEnumerable<TweetDto>
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>Twitter layout html css</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="~/Content/Site.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<div class="col-sm-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="media">
                <a class="media-left" href="#fake">
                    <img alt="" class="media-object img-rounded" src="http://placehold.it/35x35">
                </a>
                <div class="media-body">

                </div>
            </div>
        </div>
        <div class="panel-body">
            @{var data = SessionSet<User>.Get("login");}
            @{

                DatabaseContext dbc = new DatabaseContext();
                var model1 = dbc.UserFriends.ToList();
                var model2 = dbc.Tweets.ToList();
                var model3 = dbc.Users.ToList();
                var model4 = dbc.Likes.ToList();
                var name = model3.Where(k => k.Id == data.Id).FirstOrDefault();


            }
            @foreach (var item in Model)
            {
                <div class="media">
                    <a class="media-left" href="#fake">
                        <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
                    </a>
                    <div class="media-body ">
                        <h4 class="media-heading ">@item.UserName</h4>
                        <p>@item.Body</p>
                        <ul class="nav nav-pills nav-pills-custom">
                            <li>
                                <a data-toggle="modal" data-target="#myModal2" id="TLikeModal" onclick="GetData(@item.Id)">
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> </span>
                                    @model4.Where(k => k.ParentId == item.Id).Count()
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#myModal3" id="TRetweetModal" onclick="modalRetweet(@item.Id)">
                                    <span class="glyphicon glyphicon-retweet" aria-hidden="true"> </span>
                                    @model2.Where(k => k.ParentId == item.Id).Count()
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#myModal" id="TCommModal" onclick="modalTrik(@item.Id)">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span>
                                </a>
                            </li>
                            <li>
                                <a href="/Tweet/CommentList/@item.Id"><span class="glyphicon glyphicon-list color"></span>Comments</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-option-horizontal color"></span></a>
                            </li>
                            @{ var userId = SessionSet<User>.Get("login").Id;}
                            @if (item.UserId == userId)
                            {
                                <li><a href="/Tweet/Delete?id=@item.Id"><span class="glyphicon glyphicon-trash color"></span>Delete</a></li>
                            }
                        </ul>
                    </div>
                </div>

            }

        </div>
    </div>

</div>

<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Comments</h5>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <div id="ModalBody">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="card-body">
                        <textarea name="body" id="myComment" class="form-control shadow-sm" maxlength="250"></textarea>
                        <div class="row">
                            <div class="col-md-4 offset-7">
                                <div class="btn-group pt-3 " role="group" aria-label="Basic example">
                                    <button type="submit" id="addComment" class="btn btn-primary glyphicon glyphicon-comment">Comment</button>

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Bu tweeti beğenmek üzeresiniz...</h5>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4 offset-7">
                            <div class="btn-group pt-3 " role="group" aria-label="Basic example">
                                <button type="submit" id="addLike" class="btn btn-primary glyphicon glyphicon-heart">Like </button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Bu tweeti ReTweetlemek üzeresiniz...</h5>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4 offset-7">
                            <div class="btn-group pt-3 " role="group" aria-label="Basic example">
                                <button type="submit" id="addRetweet" class="btn btn-primary glyphicon glyphicon-retweet">ReTweet </button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var cid;


    function modalTrik(id) {
        cid = id;
        $.getJSON("http://localhost:50175/Home/GetComment/" + id, function (data) {
            console.log(data);
            var json_obj = $.parseJSON(JSON.stringify(data));
            var output = "<ul class='list-group'>";
            for (var i in json_obj) {
                output += "<li class='list-group-item'><h5 class='mb - 1'> " + json_obj[i].UserName + "</small></h5>" + json_obj[i].CommentBody + "</li>";
            }
            output += "</ul>";
            $('#ModalBody').html(output);
        });
    }

    $("#addComment").click(function (e) {
        var text = $('#myComment').val();
        $.ajax({
            type: "POST",
            url: "/Home/AddComment",
            data: { "text": text, "tweetId": cid }
        }).done(function (data) {
            if (data.result) {
                modalTrik(cid);
                alert("İşlem Başarılı!")
            } else {
                alert("Yorum Eklemede hata oldu")
            }
        }).fail(function () {
            alert("Server Error!!!")
        })
    });


    function modalRetweet(id) {
        cid = id;
        body = cid.Body;
        $.getJSON("http://localhost:50175/Home/GetTweet/" + id, function (data) {
            console.log(data);
            for (i in data) {
                var o = document.createElement("option");
                $(o).html(data[i].UserName);
                $(o).html(data[i].Body);
                $('#ReTweets').append(o);
            }

        });
    }

    $("#addRetweet").click(function (e) {
        var text = body;
        $.ajax({
            type: "POST",
            url: "/Home/ReTweet",
            data: { "text": text, "tweetId": cid }
        }).done(function (data) {
            if (data.result) {
                modalRetweet(cid);
                location.reload();

            } else {
                alert("ReTweetleme de bir hata oldu.")
            }
        }).fail(function () {
            alert("Server Error!!!")
        })
    });


    function GetData(id) {
        cid = id;
        tweetBody = cid.Body;
        $.getJSON("http://localhost:50175/Home/GetLike/" + id, function (data) {
            for (i in data) {
                var o = document.createElement("option");
                $(o).html(data[i].UserName);
                $(o).html(data[i].Body);
                $('#Likes').append(o);

            }
        });
    }



    $("#addLike").click(function (e) {
        var text = tweetBody;
        $.ajax({
            type: "POST",
            url: "/Home/AddLike",
            data: { "text": text, "tweetId": cid }
        }).done(function (data) {

            if (data.result) {
                GetData(cid);
                location.reload();
            } else {
                alert("Beğenirken bir hata meydana geldi.")
            }


        }).fail(function () {
            alert("Server Error!!!")
        })
    });




</script>
