@model IEnumerable<MyTwitter.Models.Tweet>

<p>
    @Html.ActionLink("_MessagesList", "_MessagesList")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Body)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreateDate)
            </td>

        </tr>
    }

</table>
